<main>
<form  #form>

     <input type="text" [value]='contact?.nameUser' name='nameUser'  required formControlName='nameUser'>
    <input type="email" [value]='contact?.email' name='email'  required formControlName='email'>

    <input type="tel" [value]='contact?.phone' name='phone'   required formControlName='phone'>
    <input type="text" [value]='contact?.address' name='address'  required formControlName='address'>
<button class='submit' type="button" (click)="onSubmitContact(form)" >Submit</button>
<button class="remove" type="button" (click)='removeContact(contact?.id)'>Remove contact</button>
</form>
</main>
<div>   {{log(count)}}</div>


<p>Всего: {{count}}</p>
<button (click)='plus()'>+</button>
<button (click)='minus()'>-</button>

<script> console.log("11111111")</script>