<form  #form (ngSubmit)="onSubmitContact(form)" >
  <!-- [formGroup]='formEdit' -->
     <input type="text" [value]='contact?.nameUser' minlength="4" required formControlName='nameUser'>
    <input type="email" [value]='contact?.email' minlength="10" required formControlName='email'>

    <input type="tel" [value]='contact?.phone' minlength="10" required formControlName='phone'>
    <input type="text" [value]='contact?.address' minlength="4" required formControlName='address'>
<button class='submit' type="submit" >Submit</button>
<button class="remove" type="button" (click)='removeContact(contact?.id)'>Remove contact</button>
</form>