<main>
    <img width="100" [src]="currentImage()" (keyup.arrowright)="incrememt()">
    <button (click)='incrememt()'>right</button>
    <button (click)='dicrement()'>left</button>

    <ul>
        <li *ngFor='let item of arrText; let i = index' (click)="curValue(i)"
        [style.color]="colorForText">{{item}}</li>
    </ul>

<p>{{text}}</p>

<input type="radio" name="color" (change)="changeColor('red')">
<input type="radio" name="color"  (change)="changeColor('blue')">
<input type="radio" name="color"  (change)="changeColor('green')">
<input type="radio" name="color"  (change)="changeColor('grey')">

<app-card></app-card>
   
    <!-- <ng-template #box let-name="value">{{value}}</ng-template>
    <ng-container *ngTemplateOutlet="box" content: {value: text}></ng-container> -->
</main>

